    
.box-wrap{
  display:flex;
  align-items:center;
  justify-content:center;
  
}
.box{
  
  margin:2%;
 
  width:100%;
  
  box-shadow:0px 0px 10px 0px  rgba(23,63,56,0.25);
  border-radius:3px;
  transition:.2s all; 
}
.box-wrap:hover .box{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.box-wrap:hover .box:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 5px 5px 0px #85fdff;
}



